.details img {
  max-height: 300px; 
}

.details-product {
 
  width: 450px;
  padding-right: 100px;
  display: block;
  font-size: 22px;
  float: right;
}

.details h2, h3{
  color: mediumvioletred;
}

.image-div img{
  height: 300px;
  max-height: 300px;
  max-width: 400px;
 
  padding-left: 50px ;
  display: block;
  float: left;
  text-align: center;
  
}
.details-product button {

  background: antiquewhite;
  font-size: 18px;
  border: 0;
  margin: 10px 5px;
  color: mediumvioletred;
  box-shadow: 5px 2px 8px 5px #c19595;
  padding: 5px 10px;
  border-radius: 5px;

}

.details button:hover {
  background-color: mediumvioletred;
  font-size: 25px;
  
  border: 0;
  color: antiquewhite;
  box-shadow: mediumvioletred (rgb(206, 206, 206));
  cursor: pointer;
  
}
.comments{
  text-align: left;
  padding-left: 50px;
  
}
.comments h3{

  margin-top:350px;
  
}

.comments ul{
  margin: 0;
}
.comments li{
  display: block;
}
.comments p{
  padding: 0;
  margin: 0;
}
.user-icon {
  height: 18px;
}
.span-style span{
  color: mediumvioletred;
} 

