@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {
  position: relative;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  max-width: 1100px;
  max-height: 100%;

  margin: 0 auto;
}

.navigation {

  display: block;
  padding: 0 10px;
  background: rgb(227, 218, 192);
  background: linear-gradient(90deg, rgba(227, 218, 192, 1) 0%, rgba(239, 239, 229, 1) 12%);

}

.navigation p {
  display: inline-block;
  font-size: 14px;


}


.navigation p span {
  color: mediumvioletred;
  font-size: 25px;
}

nav {
  display: block;
  padding: 0 10px;
  float: right;
}

li {
  display: inline-block;
}

li:not(:last-child) {
  padding-right: 25px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 22px, bold;
}

nav i {
  border: 1px solid black;
  border-radius: 50%;
  padding: 8px;

}

body>header>section.navigation>nav>ul>li:nth-child(5) {
  padding-right: 5px;
}

ul {
  padding: 0;
  font-size: 24px;
}

a:hover {
  color: mediumvioletred;
  cursor: pointer;
}

main{
  min-height:562px;
}
.site-header {
  background: url('./Images/original_2-scaled.jpg'), no-repeat, center;
  background-size: cover;
  height: 597px;

}

.site-header h1 {
  font-size: 66px;
  color: white;
  width: 50%;
  margin: 0;
  padding: 200px 0 80px 100px;

}

.site-header button {
  font-size: 26px;
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 15px;
  margin: 0 0 100px 100px;
  border-radius: 5px;
}

.site-header button:hover {
  background: antiquewhite;
  border: 2px solid white;
  color: mediumvioletred;
  cursor: pointer;
}

h2 {
  text-align: center;
  font-family: "PT Serif";
  font-size: 32px;
  font-style: italic;
  letter-spacing: 2px;
}

.welcome {
  text-align: center;
  color: mediumvioletred;
  font-family: "PT Serif", serif;
  margin: 0 auto;
  padding: 7px 0;
  font-size: 20px;
}

.welcome p {
  text-align: center;
}

.welcome img {
  height: 300px;

}

.catalog {

  display: inline-block;
  color: mediumvioletred;
  font-family: "PT Serif", serif;
  /* background-color: antiquewhite; */
  padding: 5px 5px;
}

.catalog li {
  border-style:groove;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  padding: 11px 5px ;
  margin: 5px 22px;
}

.catalog img {

  min-width: 200px;
  max-width: 300px;
}
.catalog a {
  color: mediumvioletred;
}
.catalog h3{
 margin:2px 8px 5px;
display: inline-block;
}


footer {

  /* background: rgb(227, 218, 192); */
  background: linear-gradient(90deg, rgba(227, 218, 192, 1) 0%, rgba(239, 239, 229, 1) 12%);
  color: mediumvioletred;
  
  font-size: 20px;
  padding: 0 20px;
  
  
}

footer p {
  display: inline-block;
  width: 55%;
  text-align: center;

}

footer ul {
  display: inline-block;
  padding-left: 10px;
}

footer ul a {
  color: mediumvioletred;
}

footer ul li i {
  border: 1px solid mediumvioletred;
  border-radius: 50%;
  padding: 5px;
}


.form {


  background: rgb(246, 246, 243);
  background: radial-gradient(rgba(246, 246, 243, 1) 100%);
  max-width: 400px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;

  padding: 20px;
  text-align: center;
  border-radius: 5px;
  border: 2px;
  box-shadow: mediumvioletred (rgb(206, 206, 206));

}

.form h2 {
  margin-bottom: 30px;
  font-size: 30px;
}

.form input {

  background: white;
  width: 100%;
  height: 40px;
  border: 0;
  border-radius: 3px;
  margin: 3px 0 12px;
  padding: 15px;
  font-size: 15px;
  box-sizing: border-box;
}
.form .category select{
border: 0;
height: 30px;
width: 100%;
padding: 6px;
margin-bottom: 10px;
}
.form textarea {
  border: 0;
  min-height: 50px;
  margin-bottom: 10px;
  background: white;
  border-radius: 3px;
}

.form button {

  text-transform: uppercase;
  background: antiquewhite;
  color: mediumvioletred;
  width: 50%;
  border: 0;
  padding: 13px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 5px 2px 8px 5px #c19595;

}

.form button:hover {
  background: mediumvioletred;
  color: antiquewhite;
}


.form .message a {
  color: mediumvioletred;
  text-decoration: none;
}

.details button {

  background: antiquewhite;
  font-size: 18px;
  border: 0;
  color: mediumvioletred;
  box-shadow: 5px 2px 8px 5px #c19595;
  padding: 5px 10px;
  border-radius: 5px;

}

.details button:hover {
  background-color: mediumvioletred;
  font-size: 25px;
  border: 0;
  color: antiquewhite;
  box-shadow: mediumvioletred (rgb(206, 206, 206));
  cursor: pointer;
}

.details img {
  height: 400px;

}

.details-product {
  width: 400px;
  padding-right: 35px;
  display: block;
  font-size: 22px;
  float: right;

}

.comment-area {

  padding-top: 20px;
  display: block;
  text-align: center;
  padding-right: 35px;
}

.image-div {
  width: 600px;
  display: block;
  padding-left: 8%;
  float: left;
  text-align: center;
}

.not-found {
  text-align: center;

}

.not-found img {
  max-height: 600px;
}


.search-form{
  
text-align: center;
  background: url('./Images/feya.jpg'), no-repeat, center;
  background-size: cover;
 height: 400px;
  
}
.search h2, h3{
  color: mediumvioletred;
 text-shadow: 2px 2px antiquewhite;
}
.search input{
  text-align: center;
  height: 50px;
  width: 400px;
}
.search button,
.details-btn{
  
  background: antiquewhite;
  color: mediumvioletred;
  width: 17%;
  border: 0;
  padding: 12px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 5px 2px 8px 5px #c19595;

}
.search-wrapper button:hover{
  background-color: mediumvioletred;
  font-size: 20px;
  border: 0;
  color: antiquewhite;
  
  cursor: pointer;
}
.blind-wrapper .blind {
 
  padding: 20px, 20px;
  text-align: center;
  border-style:groove;
  border-radius: 5px;
  margin: 5px;
}

.blind-wrapper img{
  min-width: 180px;
}