@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');


body {
  position: relative;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  max-width: 1100px;
  max-height: 100%;
  margin: 0 auto;
}


nav {
  display: block;
  padding: 0 10px;
  float: right;
}

li {
  display: inline-block;
}

li:not(:last-child) {
  padding-right: 25px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 22px, bold;
}

nav i {
  border: 1px solid black;
  border-radius: 50%;
  padding: 8px;
}

body>header>section.navigation>nav>ul>li:nth-child(5) {
  padding-right: 5px;
}

ul {
  padding: 0;
  font-size: 24px;
}

a:hover {
  color: mediumvioletred;
  cursor: pointer;
}

main {
  min-height: 562px;
}

.navigation {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: block;
  padding: 0 10px;
  background: rgb(227, 218, 192);
  background: linear-gradient(90deg, rgba(227, 218, 192, 1) 0%, rgba(239, 239, 229, 1) 12%);

}