.form {

  background: rgb(246, 246, 243);
  background: radial-gradient(rgba(246, 246, 243, 1) 100%);
  max-width: 400px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  border: 2px;
  box-shadow: mediumvioletred (rgb(206, 206, 206));

}

.form h2 {
  margin-bottom: 30px;
  font-size: 30px;
}

.create-form input {

  background: white;
  width: 100%;
  height: 40px;
  border: 0;
  border-radius: 3px;
  margin: 3px 0 12px;
  padding: 15px;
  font-size: 15px;
  box-sizing: border-box;
}
.form .category select{
border: 0;
height: 30px;
width: 100%;
padding: 6px;
margin-bottom: 10px;
}
.form textarea {
  border: 0;
  min-height: 50px;
  margin-bottom: 10px;
  background: white;
  border-radius: 3px;
}

.form button {

  text-transform: uppercase;
  background: antiquewhite;
  color: mediumvioletred;
  width: 50%;
  border: 0;
  padding: 13px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 5px 2px 8px 5px #c19595;

}

.form button:hover {
  background: mediumvioletred;
  color: antiquewhite;
  
}


.form .message a {
  color: mediumvioletred;
  text-decoration: none;
}
.colors-options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}
.colors-options .container {
    display: inline-block;
    position: relative;
    padding-left: 10px;
    margin-bottom: 2px;
    cursor: pointer;
  }
  
.colors-options input {
    height: 20px;
  }
  
.options-label{
    text-align: left;
    font-size: 10px;
    padding: 0 10px 10px 10px;
}

.error-message {
  color: mediumvioletred;
  font-size: 10px;
  margin: 0 0 2px;
}
