.site-header {
    background: url('/Images/original_2-scaled.jpg'), no-repeat, center;
    background-size: cover;
    height: 597px;
  
  }
  
  .site-header h1 {
    font-size: 66px;
    color: white;
    width: 50%;
    margin: 0;
    padding: 200px 0 80px 100px;
  
  }
  
  .site-header button {
    font-size: 26px;
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 15px;
    margin: 0 0 100px 100px;
    border-radius: 5px;
  }
  
  .site-header button:hover {
    background: antiquewhite;
    border: 2px solid white;
    color: mediumvioletred;
    cursor: pointer;
  }
  
 