.error-login{
    border: 1px solid mediumvioletred;
    color: mediumvioletred;
  
  }
  .error-message {
    position: fixed;
    top: 100px;;
    left: 93%;
    transform: translateX(-100%);
 
    color:antiquewhite;
    padding: 3px;
    border-radius: 5px;
    width: 300px;
    z-index:1000;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out;
    animation: slideIn 0.5s ease-in-out;
     background-color: mediumvioletred;
    color: antiquewhite; 
  }
  .error-message.show-error {
    opacity: 1; 
  }
  .error-message.custom-style {
    opacity: 1; 
    background-color: mediumvioletred; 
    color:antiquewhite ;
  }
  .error-message.custom-style p{
    font-size: 18px;
    color:antiquewhite ;
  }